h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

h7 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: white;
}

.nav-link {
  border-style: none;
  border-width: 1px;
  border-color: #ececec;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 15px;
}

.nav-link:hover {
  color: #a9c2f2;
}

.nav-link.w--current {
  color: #385b8f;
}

.container {
  margin-top: 0px;
  border-style: none none solid;
  border-width: 4px 4px 1px;
  border-color: #ececec;
  border-radius: 0px;
  background-image: url('../images/bread-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.navbar {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.image-4 {
  width: 1500px;
  height: 100px;
  margin-top: -80px;
  padding-top: 0px;
}

.centered-container-og {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.image-5 {
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}

.section-2 {
  padding-top: 24px;
}

.h2 {
  padding-top: 18px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.h2-white {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.important-link {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.section-3 {
  padding-top: 16px;
}

.text {
  padding-top: 0px;
  border: 3px none #58ac82;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 25px;
}

.white-text {
  margin-top: 24px;
  padding: 16px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #58ac82;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.circle-text {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  border: 2px solid #58ac82;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.image-6 {
  padding-top: 24px;
}

.columns-2 {
  padding-top: 24px;
}

.html-embed {
  padding-top: 24px;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.column {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-15 {
  padding-top: 10px;
  padding-left: 0px;
}

.white-text-tecsys {
  margin-top: 24px;
  padding: 16px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #e46d6d;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.heading-2-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: left;
}

.buttons {
  border-radius: 5px;
  background-color: #6691e2;
  direction: rtl;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: normal;
  text-indent: 4px;
  white-space: normal;
}

.columns-3 {
  display: block;
  padding-top: 65px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.hero-overlay-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.section-4-about {
  background-image: url('../images/about-rect.png'), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: 125px, 125px;
}

.text-about {
  padding-top: 24px;
  border: 3px none #58ac82;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}

.h2-about {
  padding-top: 18px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.text-about-baking {
  padding-top: 144px;
  border: 3px none #58ac82;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}

.footer-about {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  text-align: center;
}

.columns-4 {
  padding-top: 24px;
}

.columns-5 {
  padding-top: 24px;
}

.navbar-bread {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/bread-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.navbar-tecsys {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/tecsys-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.landing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.heading-2-landing {
  margin-top: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  white-space: normal;
}

.section-6 {
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.slider {
  height: 600px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.bread-landing-image {
  position: static;
  height: 350px;
  margin: auto;
  padding-left: 0px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.h2-landing {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.text-landing {
  padding-top: 0px;
  border: 3px none #58ac82;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
}

.tecsys-image-landing {
  position: static;
  height: 350px;
  padding-left: 0px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.buttons-landing {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 22px;
  border-radius: 5px;
  background-color: #6691e2;
  direction: rtl;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: normal;
  text-indent: 4px;
  white-space: normal;
}

.footer-landing {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  text-align: center;
}

.navbar-cibc {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/cibc-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.cibc-landing-image {
  position: static;
  height: 350px;
  padding-left: 0px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-24 {
  padding-top: 0px;
}

.image-25 {
  padding-top: 0px;
}

.section-7 {
  padding-top: 24px;
}

.columns-6 {
  padding-top: 24px;
}

.columns-7 {
  padding-top: 24px;
}

.navbar-graphics {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/graphics-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.image-31 {
  padding-left: 0px;
}

.navbar-starterhacks {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/starterhacks-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.white-text-starterhacks {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #4c72e5;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.image-32 {
  padding-top: 31px;
}

.image-33 {
  padding-top: 23px;
}

.image-34 {
  padding-top: 24px;
}

.image-36 {
  margin-left: 0px;
}

.heading-2-starterhacks {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 600;
  text-align: left;
}

.starterhacks-landing-image {
  position: static;
  height: 350px;
  padding-left: 0px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.white-text-grocerygo {
  margin-top: 24px;
  padding: 16px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #00a6a6;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.columns-8 {
  padding-top: 24px;
}

.grocerygo-landing-image {
  position: static;
  height: 350px;
  padding-left: 0px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar-teams {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/microsoftteams-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.white-text-teams {
  margin-top: 24px;
  padding: 16px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #6267a0;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.circle-text-teams {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 26px;
  border: 2px solid #6267a0;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.teams-landing-image {
  position: static;
  height: 350px;
  padding-left: 0px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.centered-container-contact {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.footer-contact {
  padding-top: 312px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.heading-2-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.hero-overlay-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.text-contact {
  padding-top: 24px;
  border: 3px none #58ac82;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.navbar-whatsapp {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/whatsapp-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  opacity: 0.96;
}

.columns-9 {
  padding-top: 24px;
}

.whatsapp-landing-image {
  position: static;
  height: 350px;
  padding-left: 0px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.right-arrow-product {
  margin: auto;
}

.icon-2 {
  margin: auto;
}

.slide-og {
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.nav-menu {
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.nav-menu-2-bread {
  position: relative;
  text-align: left;
}

.hero-overlay-3-grocerygo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/grocerygo-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.navbar-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #fff;
  background-image: url('../images/grocerygo-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.image-45 {
  padding-top: 10px;
}

.container-15 {
  border-style: none none solid;
  border-width: 1px;
  border-color: #fff;
  background-image: url('../images/grocerygo-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.image-46 {
  padding-top: 10px;
}

.navbar-4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.container-16 {
  border-style: none none solid;
  border-width: 1px;
  border-color: #fff;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.hero-overlay-3-teams {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/microsoftteams-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-landing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-bread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bread-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-tecsys {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/tecsys-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-starterhacks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/starterhacks-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-whatsapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/whatsapp-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-cibc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/cibc-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/about-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-3-graphics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-height: 780px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/graphics-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-arrow-g {
  margin: auto;
}

.icon-2-copy {
  margin: auto;
}

.centered-container-about {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.columns-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-overlay-bread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bread-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.columns-bread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-bread {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-2-bread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: left;
}

.paragraph-bread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
}

.image-5-bread {
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}

.hero-overlay-gg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/grocerygo-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-microsoft {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/microsoftteams-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-tec {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/tecsys-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-sh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/starterhacks-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-whatsappp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/whatsapp-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.image-5-whatsapp {
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}

.hero-overlay-cibcnews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/cibc-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.hero-overlay-graphic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  max-height: 780px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/graphics-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #fff;
}

.container-tecsys {
  margin-top: 0px;
  border-style: none none solid;
  border-width: 4px 4px 1px;
  border-color: #ececec;
  border-radius: 0px;
  background-image: url('../images/tecsys-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.container-teams {
  margin-top: 0px;
  border-style: none none solid;
  border-width: 4px 4px 1px;
  border-color: #ececec;
  border-radius: 0px;
  background-image: url('../images/microsoftteams-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.container-starterhacks {
  margin-top: 0px;
  border-style: none none solid;
  border-width: 4px 4px 1px;
  border-color: #ececec;
  border-radius: 0px;
  background-image: url('../images/starterhacks-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.container-whatsapp {
  margin-top: 0px;
  border-style: none none solid;
  border-width: 4px 4px 1px;
  border-color: #ececec;
  border-radius: 0px;
  background-image: url('../images/whatsapp-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.container-cibc {
  margin-top: 0px;
  border-style: none none solid;
  border-width: 4px 4px 1px;
  border-color: #ececec;
  border-radius: 0px;
  background-image: url('../images/cibc-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.container-graphics {
  margin-top: 0px;
  border-style: none none solid;
  border-width: 4px 4px 1px;
  border-color: #ececec;
  border-radius: 0px;
  background-image: url('../images/graphics-rect.png');
  background-position: 0px 0px;
  background-size: 125px;
}

@media screen and (max-width: 991px) {
  .icon {
    background-image: url('../images/about-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .centered-container-og {
    padding-right: 24px;
    padding-left: 24px;
  }
  .image-5 {
    padding-right: 0px;
  }
  .html-embed {
    padding-right: 0px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .column {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .container-3 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-4 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-5 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-6 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-7 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-8 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-9 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-10 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-11 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-12 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-13 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container-14 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .heading-2-about {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .text-about-baking {
    padding-top: 89px;
  }
  .footer-about {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-tecsys {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .heading-2-landing {
    margin-top: 83px;
    padding-top: 0px;
  }
  .bread-landing-image {
    padding-left: 0px;
  }
  .tecsys-image-landing {
    padding-left: 0px;
  }
  .buttons-landing {
    margin-left: 0px;
  }
  .footer-landing {
    padding-right: 20px;
    padding-left: 20px;
  }
  .cibc-landing-image {
    padding-left: 0px;
  }
  .section-7 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .navbar-graphics {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .image-31 {
    padding-left: 0px;
  }
  .navbar-starterhacks {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .image-32 {
    margin-left: 346px;
    padding-top: 44px;
  }
  .image-33 {
    padding-top: 0px;
  }
  .image-36 {
    margin-left: -6px;
  }
  .heading-2-starterhacks {
    margin-top: 0px;
    padding-top: 0px;
  }
  .starterhacks-landing-image {
    padding-left: 0px;
  }
  .columns-8 {
    padding-top: 24px;
  }
  .grocerygo-landing-image {
    padding-left: 0px;
  }
  .navbar-teams {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .teams-landing-image {
    padding-left: 0px;
  }
  .centered-container-contact {
    padding-right: 24px;
    padding-left: 24px;
  }
  .footer-contact {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-2-contact {
    margin-top: -18px;
    padding-top: 0px;
  }
  .whatsapp-landing-image {
    padding-left: 0px;
  }
  .slide-og {
    padding-left: 0px;
  }
  .menu-button-2 {
    background-image: url('../images/about-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-button-bread {
    background-image: url('../images/bread-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .icon-bread {
    background-image: url('../images/bread-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .nav-menu-2-bread {
    position: absolute;
    top: 35px;
    z-index: 0;
    display: inline-block;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: left;
    background-image: url('../images/nav-bread.png');
    background-position: 0px 0px;
    background-size: 125px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .menu-button-teams {
    background-image: url('../images/microsoftteams-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .icon-teams {
    background-image: url('../images/microsoftteams-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .nav-teams {
    background-image: url('../images/nav-teams.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .navbar-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: url('../images/grocerygo-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-button-3 {
    background-image: url('../images/grocerygo-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .nav-menu-3 {
    background-image: url('../images/nav-grocerygo.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-button-4 {
    background-image: url('../images/about-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .nav-menu-4 {
    background-image: url('../images/nav-about.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .nav-tecsys {
    background-image: url('../images/nav-tecsys.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-tecsys {
    background-image: url('../images/tecsys-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .icon-tecsys {
    background-image: url('../images/tecsys-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .nav-starterhacks {
    background-image: url('../images/nav-starterhacks.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-button-starterhacks {
    background-image: url('../images/starterhacks-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .icon-starterhacks {
    background-image: url('../images/starterhacks-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .nav-whatsapp {
    background-image: url('../images/nav-whatsapp.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-button-whatsapp {
    background-image: url('../images/whatsapp-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .icon-whatsapp {
    background-image: url('../images/whatsapp-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .nav-cibc {
    background-image: url('../images/nav-cibc.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-cibc {
    background-image: url('../images/cibc-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .icon-cibc {
    background-image: url('../images/cibc-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .nav-graphics {
    background-image: url('../images/nav-graphics.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .menu-graphics {
    background-image: url('../images/graphics-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .icon-graphics {
    background-image: url('../images/graphics-rect.png');
    background-position: 0px 0px;
    background-size: 125px;
    color: #fff;
  }
  .centered-container-about {
    padding-right: 24px;
    padding-left: 24px;
  }
  .columns-bread {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .column-bread {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .heading-2-bread {
    margin-top: 0px;
    padding-top: 0px;
  }
  .paragraph-bread {
    margin-bottom: 0px;
  }
  .image-5-bread {
    padding-right: 0px;
  }
  .image-5-whatsapp {
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .icon {
    color: #fff;
  }
  .centered-container-og {
    margin-top: 0px;
  }
  .image-5 {
    padding-top: 0px;
  }
  .footer {
    padding: 40px 20px;
  }
  .column {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-7 {
    padding-top: 24px;
  }
  .image-8 {
    padding-top: 24px;
  }
  .image-9 {
    padding-top: 24px;
  }
  .image-10 {
    padding-top: 24px;
  }
  .image-11 {
    padding-top: 24px;
  }
  .image-12 {
    padding-top: 24px;
  }
  .image-13 {
    padding-top: 24px;
  }
  .image-14 {
    padding-top: 24px;
  }
  .heading-2-about {
    margin-top: 0px;
    padding-top: 0px;
  }
  .buttons {
    margin-top: 20px;
  }
  .columns-3 {
    padding-top: 0px;
    text-align: center;
  }
  .hero-overlay-about {
    height: 100vh;
    padding: 40px 20px;
  }
  .text-about-baking {
    padding-top: 32px;
  }
  .footer-about {
    padding: 40px 20px;
  }
  .image-16 {
    padding-top: 24px;
  }
  .image-17 {
    padding-top: 24px;
  }
  .image-18 {
    padding-top: 24px;
  }
  .image-19 {
    padding-top: 24px;
  }
  .image-20 {
    padding-top: 24px;
  }
  .landing {
    height: 30vh;
    padding: 40px 20px;
  }
  .heading-2-landing {
    margin-top: 0px;
    padding-top: 10px;
  }
  .bread-landing-image {
    padding-left: 0px;
  }
  .tecsys-image-landing {
    height: 300px;
    padding-left: 0px;
  }
  .buttons-landing {
    margin-top: 0px;
    margin-left: 0px;
  }
  .footer-landing {
    padding: 40px 20px;
  }
  .cibc-landing-image {
    padding-left: 0px;
  }
  .column-2 {
    padding-top: 24px;
  }
  .column-3 {
    padding-top: 24px;
  }
  .column-4 {
    padding-top: 24px;
  }
  .column-5 {
    padding-top: 24px;
  }
  .column-6 {
    padding-top: 24px;
  }
  .column-7 {
    padding-top: 24px;
  }
  .column-8 {
    padding-top: 24px;
  }
  .image-31 {
    padding-left: 0px;
  }
  .image-32 {
    margin-left: 0px;
  }
  .image-33 {
    padding-top: 24px;
  }
  .image-36 {
    padding-top: 24px;
  }
  .image-37 {
    padding-top: 24px;
  }
  .heading-2-starterhacks {
    margin-top: 0px;
  }
  .starterhacks-landing-image {
    padding-left: 0px;
  }
  .image-38 {
    padding-top: 24px;
  }
  .image-39 {
    padding-top: 24px;
  }
  .image-40 {
    padding-top: 24px;
  }
  .image-41 {
    padding-top: 24px;
  }
  .image-42 {
    padding-top: 24px;
  }
  .image-43 {
    padding-top: 24px;
  }
  .image-44 {
    padding-top: 24px;
  }
  .grocerygo-landing-image {
    padding-left: 0px;
  }
  .circle-text-teams {
    padding-left: 24px;
  }
  .column-9 {
    padding-top: 24px;
  }
  .column-10 {
    padding-top: 24px;
  }
  .teams-landing-image {
    padding-left: 0px;
  }
  .centered-container-contact {
    margin-top: -38px;
  }
  .footer-contact {
    padding: 40px 20px;
  }
  .heading-2-contact {
    margin-top: 0px;
  }
  .hero-overlay-contact {
    height: 50vh;
    padding: 40px 20px;
  }
  .whatsapp-landing-image {
    padding-left: 0px;
  }
  .icon-bread {
    color: #fff;
  }
  .nav-menu-2-bread {
    display: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .hero-overlay-3-grocerygo {
    padding: 40px 20px;
  }
  .icon-teams {
    color: #fff;
  }
  .icon-tecsys {
    color: #fff;
  }
  .icon-starterhacks {
    color: #fff;
  }
  .icon-whatsapp {
    color: #fff;
  }
  .icon-cibc {
    color: #fff;
  }
  .icon-graphics {
    color: #fff;
  }
  .hero-overlay-3-teams {
    padding: 40px 20px;
  }
  .hero-overlay-3-landing {
    padding: 40px 20px;
  }
  .hero-overlay-3-bread {
    padding: 40px 20px;
  }
  .hero-overlay-3-tecsys {
    padding: 40px 20px;
  }
  .hero-overlay-3-starterhacks {
    padding: 40px 20px;
  }
  .hero-overlay-3-whatsapp {
    padding: 40px 20px;
  }
  .hero-overlay-3-about {
    padding: 40px 20px;
  }
  .hero-overlay-3-cibc {
    padding: 40px 20px;
  }
  .hero-overlay-3-contact {
    padding: 40px 20px;
  }
  .hero-overlay-3-graphics {
    padding: 40px 20px;
  }
  .centered-container-about {
    margin-top: 0px;
  }
  .columns-10 {
    display: block;
  }
  .column-12 {
    padding-top: 24px;
  }
  .hero-overlay-bread {
    height: 70vh;
    padding: 0px 20px;
  }
  .columns-bread {
    display: inline-block;
  }
  .column-bread {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .heading-2-bread {
    margin-top: 0px;
    padding-top: 0px;
  }
  .landing-pic-bread {
    padding-top: 24px;
  }
  .image-5-bread {
    padding-top: 0px;
  }
  .hero-overlay-gg {
    height: 70vh;
    padding: 0px 20px;
  }
  .hero-overlay-microsoft {
    height: 70vh;
    padding: 0px 20px;
  }
  .hero-overlay-tec {
    height: 70vh;
    padding: 0px 20px;
  }
  .hero-overlay-sh {
    height: 90vh;
    padding: 0px 20px;
  }
  .hero-overlay-whatsappp {
    height: 80vh;
    padding: 0px 20px;
  }
  .image-5-whatsapp {
    padding-top: 0px;
  }
  .hero-overlay-cibcnews {
    height: 70vh;
    padding: 0px 20px;
  }
  .hero-overlay-graphic {
    height: 70vh;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 479px) {
  .icon {
    color: #fff;
  }
  .centered-container-og {
    margin-top: 0px;
    padding-top: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
  }
  .image-5 {
    position: static;
    display: block;
    margin-left: 0px;
    padding-top: 0px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .column {
    margin-top: 0px;
    padding-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .container-5 {
    padding-top: 0px;
  }
  .html-embed-2 {
    text-align: center;
  }
  .heading-2-about {
    padding-top: 0px;
  }
  .hero-overlay-about {
    height: 90vh;
  }
  .text-about {
    padding-top: 19px;
  }
  .h2-about {
    margin-top: 36px;
    padding-top: 0px;
  }
  .footer-about {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .landing {
    height: 40vh;
  }
  .slider {
    margin-top: -19px;
    padding-top: 0px;
  }
  .bread-landing-image {
    height: 275px;
    padding-left: 0px;
  }
  .tecsys-image-landing {
    height: 175px;
    padding-left: 0px;
  }
  .buttons-landing {
    margin-left: 0px;
    padding-right: 15px;
  }
  .footer-landing {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .cibc-landing-image {
    height: 200px;
    padding-left: 0px;
  }
  .section-9 {
    margin-top: -74px;
  }
  .section-10 {
    margin-top: -74px;
  }
  .section-11 {
    margin-top: -74px;
  }
  .image-31 {
    height: 230px;
    padding-left: 0px;
  }
  .starterhacks-landing-image {
    height: 250px;
    padding-left: 0px;
  }
  .grocerygo-landing-image {
    height: 250px;
    padding-left: 0px;
  }
  .circle-text-teams {
    padding-right: 24px;
    padding-left: 24px;
  }
  .teams-landing-image {
    height: 200px;
    padding-left: 0px;
  }
  .centered-container-contact {
    margin-top: -184px;
    padding-top: 0px;
    text-align: left;
  }
  .footer-contact {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .heading-2-contact {
    padding-top: 176px;
  }
  .hero-overlay-contact {
    height: 50vh;
  }
  .text-contact {
    padding-top: 24px;
  }
  .whatsapp-landing-image {
    height: 250px;
    padding-left: 0px;
  }
  .slidenav-product {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 65px;
  }
  .right-arrow-product {
    margin: auto;
  }
  .icon-2 {
    display: none;
    margin: auto;
  }
  .icon-3 {
    display: none;
    margin-top: auto;
  }
  .slide-og {
    padding-top: 0px;
  }
  .icon-bread {
    color: #fff;
  }
  .nav-menu-2-bread {
    float: none;
    clear: none;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 50% 100%;
    object-position: 50% 100%;
  }
  .hero-overlay-3-grocerygo {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .icon-teams {
    color: #fff;
  }
  .icon-tecsys {
    color: #fff;
  }
  .icon-starterhacks {
    color: #fff;
  }
  .icon-whatsapp {
    color: #fff;
  }
  .icon-cibc {
    color: #fff;
  }
  .icon-graphics {
    color: #fff;
  }
  .hero-overlay-3-teams {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-landing {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-bread {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-tecsys {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-starterhacks {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-whatsapp {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-about {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-cibc {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-contact {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-overlay-3-graphics {
    height: 10vh;
    padding: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .right-arrow-g {
    margin: auto;
  }
  .icon-3g {
    display: none;
    margin-top: auto;
  }
  .icon-2-copy {
    display: none;
    margin: auto;
  }
  .centered-container-about {
    margin-top: 0px;
    padding-top: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
  }
  .columns-10 {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .column-12 {
    display: block;
    padding-top: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .hero-overlay-bread {
    height: 70vh;
  }
  .columns-bread {
    display: inline-block;
  }
  .column-bread {
    margin-top: 0px;
    padding-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading-2-bread {
    padding-top: 0px;
  }
  .paragraph-bread {
    line-height: 25px;
  }
  .image-5-bread {
    position: static;
    display: block;
    margin-left: 0px;
    padding-top: 0px;
  }
  .hero-overlay-gg {
    height: 70vh;
  }
  .hero-overlay-microsoft {
    height: 70vh;
  }
  .hero-overlay-tec {
    height: 70vh;
  }
  .hero-overlay-sh {
    height: 90vh;
  }
  .hero-overlay-whatsappp {
    height: 70vh;
  }
  .image-5-whatsapp {
    position: static;
    display: block;
    margin-left: 0px;
    padding-top: 0px;
  }
  .hero-overlay-cibcnews {
    height: 70vh;
  }
  .hero-overlay-graphic {
    height: 70vh;
  }
}